<nav>
    <ul class='list-unstyled list-inline text-center mb-5'>
        <li class="list-inline-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'user:user-list' %}">User List</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'item:item-list'%}">Item</a>
        </li>
        {% if user.is_authenticated %}
        <li class="list-inline-item">
            <a href="{% url 'user:logout' %}">Log Out</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'cart:cart-list' %}">Cart</a>
        </li>
        {% else %}
        <li class="list-inline-item">
            <a href="{% url 'user:login' %}">Log In</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'user:signup' %}">Sign Up</a>
        </li>
        {% endif %}
        
    </ul>
</nav>