<nav class="sub-nav-bar">
    <ul class="list-unstyled text-center">
        <li class="">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="">
            <a href="{% url 'user:user-list' %}">User List</a>
        </li>
        <li class="m">
            <a href="{% url 'item:item-list'%}">Item</a>
        </li>
        {% if user.is_authenticated %}
        <li class="">
            <a href="{% url 'user:logout' %}">Log Out</a>
        </li>
        <li class="">
            <a href="{% url 'cart:cart-list' %}">Cart</a>
        </li>
        {% else %}
        <li class="">
            <a href="{% url 'user:login' %}">Log In</a>
        </li>
        <li class="">
            <a href="{% url 'user:signup' %}">Sign Up</a>
        </li>
        {% endif %}
        <li class="">
            <a href="{% url 'board:board-list'%}">Board</a>
        </li>
    </ul>
</nav>