{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Login</h1>
    {% if form.errors %}
        <p>Plz Check your ID or pwd</p>
    {% else %}
    {% endif %}
    <form action="" method="POST">{% csrf_token %}
        {% comment %} Username : 
        <br>
        <input name="usr_id"type="text">
        <br>
        PassWord :
        <br>
        <input name="password" type="password">
        <br><br> {% endcomment %}

        {{form.as_p}}{% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Log in">
    </form>
</div>
{% endblock  %}