{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/item.js'%}"></script>
<div class="container-fluid px-0">
    <h1>Item List</h1>
    <button class="btn btn-outline-success item-add-btn" onclick="location.href='{% url 'item:item-add'%}'">
            Add Item <span class="badge badge-primary">+</span>
    </button>
    <button class="btn btn-outline-danger">BUTTON 1</button>
    <button class="btn btn-outline-warning">BUTTON 2</button>
    <button class="btn btn-outline-secondary">BUTTON 3</button>
    <div class="text-center row mx-0">
        {% for a in object_list %}
            <div class="col-md-2">
                <ul class="list-unstyled border border-dark">
                    <li>
                        Name : {{a.item_name}}
                    </li>
                    <li>
                        Category : {{a.item_category}}
                    </li>
                    <li>
                        Price : {{a.item_price}}
                    </li>
                    <li>
                        Quantity : {{a.item_quantity}}
                    </li>
                    <li class="text-center">
                        <a href="{{ a.get_absolute_url }}" class="btn btn-outline-primary">More..</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid justify-content-center text-center">
        {% for p in page %}
            {{p}}
        {% endfor %}
    </div>
</div>
{% endblock  %}