{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h2>Item Buy View</h2>
    <table class="table text-center">
        <thead>
            <tr>
                <th> </th>
                <th>quantity</th>
                <th>item_id</th>
                <th>usr_id</th>
                <th>add_date</th>
                <th>+</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td><input type="checkbox" name="item-check" value="{{instance.id}}"></td>
                <td>{{instance.item_count}}</td>
                <td>{{instance.item_idx_id}}</td>
                <td>{{instance.usr_id_id}}</td>
                <td>{{instance.add_date}}</td>
                <td><button class="btn item-add-btn btn-warning" onclick="location.href='{% url 'item:item-detail' instance.item_idx_id%}'">More..</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr><hr><hr>
    <table class="table">
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}